.popup__form-submit-button {
  background: none;
  border: none;
  margin-top: 18px;
  margin-bottom: 36px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 13px;
  border-radius: 2px;
  transition: background-color .2s linear;
}

.popup__form-submit-button:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .popup__form-submit-button {
    margin-top: 18px;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 24px;
  }
}