.gallery {
  max-width: 880px;
  margin: 0 auto;
  list-style: none;
  padding: 50px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 20px;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 920px) {
  .gallery {
    padding-top: 42px;
  }
}

@media screen and (max-width: 720px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
    padding: 42px 19px 0 19px;
  }
}