.gallery__item {
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "photo photo"
    "title like";
  grid-template-rows: 1fr 79px;
  grid-template-columns: 1fr auto;
  align-items: center;
}