.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 54px;
  font-family: 'Inter', sans-serif;
  color: #545454;
}

@media screen and (max-width: 920px) {
  .footer {
    padding: 70px 19px 54px 19px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 48px 19px 38px 19px;
  }
}