.gallery__like-button {
  width: 22px;
  height: 19px;
  background: none;
  background-image: url(../../../images/icons/heart.svg);
  background-size: cover;
  cursor: pointer;
  border: none;
  transition: opacity .3s;
}

.gallery__like-button:hover {
  opacity: .5;
}