.main {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
}

@media screen and (max-width: 920px) {
  .main {
    padding: 42px 20px 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding: 42px 0 0 0;
  }
}